@font-face { font-family: dosvga;  src: url(qbjs.woff2); }
@font-face { font-family: dosvga8; src: url(fonts/WebPlus_IBM_EGA_8x8.woff); }
body { 
	background-color: #000; 
	font-family: dosvga, dosvga8, Arial, Helvetica, sans-serif;
	color: #999;
}
#gx-container {
	text-align: center; 
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#gx-footer {
	margin: 0 auto;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	width: 600px;
}
#gx-link, #gx-fullscreen { 
	margin: 1px;
}
#gx-fullscreen {
	cursor: pointer;
	background-image: url('fullscreen.svg');
	width: 26px;
	height: 26px;
	margin: 4px;
	background-size: 26px 26px;
}
#gx-fullscreen:hover {
	background-image: url('fullscreen-hover.svg');
}
#gx-canvas {
	border: 1px solid #222;
	background-color: #000;
}
#gx-load-screen {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: #ccc;
	border: 1px solid #000;
	text-decoration: none;
	background-position: center center;
	background-image: url('play.png');
	background-repeat: no-repeat;
	background-color: #000;
}
#gx-load-screen:hover {
	background-color: #333;
}
