@font-face {
    font-family: dosvga;
    src: url(dosvga.ttf);
}   
body { 
    background-color: rgb(0, 0, 39); 
    font-family: dosvga, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    color: #999;
}
a, a:link, a:visited {
    text-decoration: none;
    color: #ccc;
    margin-right: 5px;
}
a:hover { color: #fff;  }
a:before { content: "< "; }
a:after { content: " >"; }
#output-content a, #output-content a:link, #output-content a:visited { color: #999 }
#output-content a:before { content: ""; }
#output-content a:after { content: ""; }

#code-container {
    position: absolute;
    left: 10px;
    top: 10px;
}
#code {
    margin-bottom: 5px;
    border: 1px solid #666;
}
#game-container {
    position: absolute;
    left: 620px;
    top: 10px;
}
#gx-container {
    border: 1px solid #666;
    text-align: center; 
    background-color: #000;
    /*letter-spacing: 0px;*/
}
#gx-canvas {
    border: 1px solid #222; 
    background-color: #000;
}
#output-container {
    position: absolute;
    color: #ccc;
    display: none;
}
#output-content {
    border: 1px solid #666;
    overflow: auto;
    height: 250px;
}
#js-code {
    white-space: pre;
    padding: 5px;
    color: #999;
}
#show-js-container {
    color: #666;
    position: absolute;
    padding-top: 3px;
}
#warning-container {
    white-space: pre;
    font-family: dosvga;
    color: #999;
    padding: 5px;
}
#edit-button {
    float: left;
}
#share-button {
    float: right;
}
#share-button, #toggle-console {
    margin-right: 0;
}
#slider {
    position: absolute;
    top: 10px;
    color: #666;
}
.slider-button {
    padding-top: 2px;
}
.slider-button:hover {
    color: #ccc;
    cursor: pointer;
}

.modal {
    display: none;
}
.modal.is-open {
    display: block;
}

#tabs {
    margin-bottom: -1px;
}
.tab {
    display:inline-block;
    padding: 5px 10px;
    border: 1px solid #666;
    border-bottom: 0px;
    margin-right: 2px;
    color: #999;
    cursor: pointer;
}
.tab:hover {
    color: #fff;
    background-color: rgb(0, 49, 78);
}
#tabs .active {
    border-bottom: 1px solid rgb(0, 0, 39);
    color: #ccc;
}
#tabs .active:hover {
    background-color: transparent;
    color: #ccc;
}
#gx-load-screen {
    display: none;
    text-align: center;
    margin: auto;
    width: 600px;
    height: 360px;
    font-size: 24px;
    color: #ccc;
    border: 1px solid #000;
    text-decoration: none;
    background-position: center center;
    background-image: url('play.png');
    background-repeat: no-repeat;
    background-color: #444;
}
#gx-load-screen:hover {
    background-color: #555;
}
#gx-load-screen:before { content: ""; }
#gx-load-screen:after { content: ""; }

#gx-container a, #gx-container a:link, #gx-container a:visited {
    color: rgb(69, 118, 147);
}
#gx-container a:hover { 
    color: rgb(69, 118, 147);
    text-decoration: underline;
}
#gx-container a:before { content: ""; }
#gx-container a:after { content: ""; }

#gx-container, #gx-container table {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

#share-dialog,
#prog-sel-dialog {
    background-color:#ddd;
}
#share-dialog textarea,
#prog-sel-dialog select {
    font-family: dosvga;
    font-size: 1em;
    letter-spacing: -1px;
    background-color: #efefef;
    padding: 5px;
}
#share-dialog a, #prog-sel-dialog a { color: #333; }
#share-dialog a:hover, #prog-sel-dialog a:hover { color: #000; }

#logo {
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    opacity: 0.5;
}
#logo:hover { opacity: 1.0; }

#fs-contents {
    display: grid;
    grid-template-columns: auto 1.5em;
}

#fs-path {
    margin: 5px;
    padding: 5px;
    border: 1px solid #333;
}
#fs-refresh, #fs-new-folder {
    float: right;
    margin-top: -3px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
#fs-refresh {
    margin-right: 5px;
    background-image: url('img/refresh.svg');
}
#fs-refresh:hover {
    background-image: url('img/refresh-hover.svg');
}
#fs-new-folder {
    margin-right: 5px;
    background-image: url('img/new-folder.svg');
}
#fs-new-folder:hover {
    background-image: url('img/new-folder-hover.svg');
}

.fs-file, .fs-dir, .fs-delete {
    display: block;
    margin: 0px 5px;
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    cursor: pointer;
}


.fs-file:hover, .fs-dir:hover {
    background-color: rgb(255, 255, 255, .1);
}
.fs-delete:hover {
    background-image: url('img/delete-hover.svg');
}

.fs-file {
    background-image: url('img/file.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 1px 1px;
}

.fs-dir {
    background-image: url('img/folder.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 1px 2px;
}

.fs-delete {
    background-image: url('img/delete.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    /*background-position: center center;*/
    padding: 0;
    width: 100%;
    margin: 0;
}

#toolbar {
    border: 1px solid #666;
    border-bottom: 0;
    padding: 3px 5px 0px;
    /*background-color: rgb(0, 49, 78);*/
}
.toolbar-button {
    display: inline-block;
    background-size: 1.25em 1.25em;
    width: 1.25em;
    height: 1.25em;
    background-repeat: no-repeat;
    margin: 0 !important;
}
.toolbar-button:before { content: ""; }
.toolbar-button:after { content: ""; }

#toolbar-button-open { background-image: url('img/open.svg'); }
#toolbar-button-save { background-image: url('img/save.svg');  background-size: 1.08em, 1.08em; background-position: .05em .05em; }
#toolbar-button-run { background-image: url('img/run.svg'); }
#toolbar-button-share { background-image: url('img/share.svg'); float: right; }

#toolbar-button-open:hover { background-image: url('img/open-hover.svg'); }
#toolbar-button-save:hover { background-image: url('img/save-hover.svg'); }
#toolbar-button-run:hover { background-image: url('img/run-hover.svg'); }
#toolbar-button-share:hover { background-image: url('img/share-hover.svg'); }

#toolbar .spacer {
    display: inline-block;
    height: 1.25em;
    border-left: 1px solid rgba(102,102,102,.6);
    margin: 0 2px;
}