@font-face {
    font-family: dosvga;
    src: url(qbjs.woff2);
}   
body { 
    background-color: rgb(0, 0, 39); 
    font-family: dosvga, Arial, Helvetica, sans-serif;
    /* letter-spacing: -1px; */
    color: #999;
    overflow: hidden;
}
a, a:link, a:visited {
    text-decoration: none;
    color: #ccc;
    margin-right: 5px;
}
a:hover { color: #fff;  }
a:before { content: "< "; }
a:after { content: " >"; }
#output-content a, #output-content a:link, #output-content a:visited { color: #999 }
#output-content a:before { content: ""; }
#output-content a:after { content: ""; }

#code-container {
    position: absolute;
    /*left: 10px;
    top: 10px; */
    left: 5px;
    top: 33px;
}
#code {
    margin-bottom: 5px;
    border: 1px solid #666;
}
#game-container {
    position: absolute;
    left: 620px;
    /*top: 10px; */
    top: 33px;
}
#gx-container {
    border: 1px solid #666;
    text-align: center; 
    background-color: #000;
    overflow: auto;
}
#gx-canvas {
    border: 1px solid #222; 
    background-color: #000;
    font-family: dosvga;
}
#output-container {
    position: absolute;
    color: #ccc;
    display: none;
}
#output-content {
    border: 1px solid #666;
    overflow: auto;
    height: 250px;
}
#js-code {
    white-space: pre;
    padding: 5px;
    color: #999;
}
#show-js-container {
    color: #666;
    position: absolute;
    padding-top: 3px;
}
#warning-container {
    white-space: pre-wrap;
    font-family: dosvga;
    color: #999;
    padding: 5px;
}
#warning-container .selected {
    background-color: #333;
}

#edit-button {
    float: left;
}
#share-button {
    float: right;
}
#share-button, #toggle-console {
    margin-right: 0;
}
#slider {
    position: absolute;
    top: 33px;
    color: #666;
    cursor: col-resize;
    width: 8px;
}
#vslider {
    height: 8px;
    cursor: row-resize;
}
.slider-button {
    padding-top: 2px;
}
.slider-button:hover {
    color: #ccc;
    cursor: pointer;
}

.modal {
    display: none;
}
.modal.is-open {
    display: block;
}

#tabs {
    margin-bottom: -1px;
}
.tab {
    display:inline-block;
    padding: 5px 10px;
    border: 1px solid #666;
    border-bottom: 0px;
    margin-right: 2px;
    color: #999;
    cursor: pointer;
    user-select: none;
}
.tab:hover {
    color: #fff;
    background-color: rgb(0, 49, 78);
}
#tabs .active {
    border-bottom: 1px solid rgb(0, 0, 39);
    color: #ccc;
}
#tabs .active:hover {
    background-color: transparent;
    color: #ccc;
}
#gx-load-screen {
    display: none;
    text-align: center;
    margin: auto;
    width: 600px;
    height: 360px;
    font-size: 24px;
    color: #ccc;
    border: 1px solid #000;
    text-decoration: none;
    background-position: center center;
    background-image: url('play.png');
    background-repeat: no-repeat;
    background-color: #444;
}
#gx-load-screen:hover {
    background-color: #555;
}
#gx-load-screen:before { content: ""; }
#gx-load-screen:after { content: ""; }

#gx-container a, #gx-container a:link, #gx-container a:visited {
    color: rgb(69, 118, 147);
}
#gx-container a:hover { 
    color: rgb(69, 118, 147);
    text-decoration: underline;
}
#gx-container a:before { content: ""; }
#gx-container a:after { content: ""; }

#gx-container, #gx-container table {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

#options-dialog select {
    width: 100%;
}
dialog {
    background-color:#ddd;
    min-width: 250px;
}
dialog textarea, 
#prog-sel-dialog select {
    font-family: dosvga;
    font-size: 1em;
    background-color: #efefef;
    padding: 5px;
}
dialog a { color: #333 !important; }
dialog a:hover { color: #000 !important; }
dialog a.disabled, dialog a.disabled:hover { color: #999 !important; }

#logo {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    opacity: 0.75;
}
#logo:hover { opacity: 1.0; }

#fs-contents {
    display: grid;
    grid-template-columns: auto 1.5em;
}

#fs-path {
    margin: 5px;
    padding: 5px;
    border: 1px solid #333;
}
#fs-refresh, #fs-new-folder, #fs-upload {
    float: right;
    margin-top: -3px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
#fs-refresh {
    margin-right: 5px;
    background-image: url('img/refresh.svg');
}
#fs-refresh:hover {
    background-image: url('img/refresh-hover.svg');
}
#fs-new-folder {
    margin-right: 5px;
    background-image: url('img/new-folder.svg');
}
#fs-new-folder:hover {
    background-image: url('img/new-folder-hover.svg');
}
#fs-upload {
    margin-right: 8px;
    background-image: url('img/upload.svg');
}
#fs-upload:hover {
    background-image: url('img/upload-hover.svg');
}

.fs-file, .fs-dir, .fs-delete {
    display: block;
    margin: 0px 5px;
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    cursor: pointer;
}


.fs-file:hover, .fs-dir:hover {
    background-color: rgb(255, 255, 255, .1);
}
.fs-delete:hover {
    background-image: url('img/delete-hover.svg');
}

.fs-file {
    background-image: url('img/file.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 1px 1px;
}

.fs-dir {
    background-image: url('img/folder.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 1px 2px;
}

.fs-delete {
    background-image: url('img/delete.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    /*background-position: center center;*/
    padding: 0;
    width: 100%;
    margin: 0;
}

#toolbar {
    border: 1px solid #666;
    /*border-bottom: 0;*/
    padding: 3px 5px 0px;
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    /*background-color: rgb(0, 49, 78);*/
}
.toolbar-button {
    display: inline-block;
    background-size: 1.25em 1.25em;
    width: 1.25em;
    height: 1.25em;
    background-repeat: no-repeat;
    margin: 0 !important;
}
.toolbar-button:before { content: ""; }
.toolbar-button:after { content: ""; }

#toolbar-button-open { background-image: url('img/open.svg'); }
#toolbar-button-save { background-image: url('img/save.svg');  background-size: 1.08em, 1.08em; background-position: .05em .05em; }
#toolbar-button-run { background-image: url('img/run.svg'); }
#toolbar-button-stop { background-image: url('img/stop.svg'); }
#toolbar-button-share { background-image: url('img/share.svg'); }
#toolbar-button-settings { background-image: url('img/settings.svg'); }
#toolbar-button-console-show { background-image: url('img/console-show.svg'); float: right; margin-right: 4px !important; }
#toolbar-button-console-hide { background-image: url('img/console-hide.svg'); float: right; margin-right: 4px !important; }
#toolbar-button-about { background-image: url('img/about.svg'); float: right; margin-left: 4px !important; }
#toolbar-button-slide-right { background-image: url('img/slide-right.svg'); float: right; margin-right: 4px !important; }
#toolbar-button-slide-left { background-image: url('img/slide-left.svg'); float: right; margin-right: 4px !important; }

#toolbar-button-open:hover { background-image: url('img/open-hover.svg'); }
#toolbar-button-save:hover { background-image: url('img/save-hover.svg'); }
#toolbar-button-run:hover { background-image: url('img/run-hover.svg'); }
#toolbar-button-stop:hover { background-image: url('img/stop-hover.svg'); }
#toolbar-button-console-show:hover { background-image: url('img/console-show-hover.svg'); }
#toolbar-button-console-hide:hover { background-image: url('img/console-hide-hover.svg'); }
#toolbar-button-share:hover { background-image: url('img/share-hover.svg'); }
#toolbar-button-about:hover { background-image: url('img/about-hover.svg'); }
#toolbar-button-settings:hover { background-image: url('img/settings-hover.svg'); }
#toolbar-button-slide-left:hover { background-image: url('img/slide-left-hover.svg'); }
#toolbar-button-slide-right:hover { background-image: url('img/slide-right-hover.svg'); }

#toolbar .spacer {
    display: inline-block;
    height: 1.25em;
    border-left: 1px solid rgba(102,102,102,.6);
    margin: 0 2px;
}

#help {
    overflow: hidden;
}
#help-container {
    position: absolute;
    display: grid;
    grid-template-columns: max-content auto;
    width: 100%;
}
.help, .help table { 
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    letter-spacing: normal;
    font-size: 15px;
}
.help table { border-collapse: collapse }
.help th, .help td { border: 1px solid #444; border-spacing: 0; padding: 4px }
.help a:hover { text-decoration: underline; }
.help a { color: #4E91E6 !important; }
/*.help a:after { display: none; }
.help a:before { display: none; }*/
.help code { 
    display: inline-block; 
    border: 1px solid #444;
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, .5);
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
.help pre code { padding: 15px; display: block; }
.help tr:nth-child(even) { background: rgba(50, 50, 50, .5) }
.help h1, .help h2 { border-bottom: 1px solid #444; padding-bottom: 5px }
.help h2, .help h3, .help h4, .help h5 { color: #4E91E6; font-weight: 600 }
.help h1 { font-weight: normal; }
.help blockquote { border-left: 4px solid #666; color: #666; margin-left: 5px; padding-left: 20px; }
.help-sidebar { 
    border-right: 1px solid #444;
    padding-left: 10px;
    padding-right: 10px
}
.help-page {
    padding: 20px;
    overflow: auto;
}

.help-nav {
    border-bottom: 1px solid #444;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.help-nav a {
    margin-right: 10px;
}