.dlg-dialog {
    border: none;
    box-shadow: 10px 10px 20px gray;
}

.dlg-header {
    background-color: #555;
    color: white;
}

.dlg-caption {
    height: 1.17em;
    text-shadow: 1px 1px 1px black;
}
.dlg-close-button::before,
.dlg-close-button::after {
    background-color: white;
}
