.cm-s-qbjs {
  line-height: 1em;
}
.cm-s-qbjs.CodeMirror { background: rgb(0, 0, 39); color: rgb(216, 216, 216); text-shadow: 0 -1px 1px #262626; font-family: dosvga; letter-spacing: -1px}
.cm-s-qbjs div.CodeMirror-selected { background: #45443B; } /* 33322B*/
.cm-s-qbjs .CodeMirror-line::selection, .cm-s-qbjs .CodeMirror-line > span::selection, .cm-s-qbjs .CodeMirror-line > span > span::selection { background: rgba(0, 49, 78, .99); }
.cm-s-qbjs .CodeMirror-line::-moz-selection, .cm-s-qbjs .CodeMirror-line > span::-moz-selection, .cm-s-qbjs .CodeMirror-line > span > span::-moz-selection { background: rgba(69, 68, 59, .99); }
.cm-s-qbjs .CodeMirror-cursor { border-left: 1px solid #fff; overflow: hidden; width: 0px;}
.cm-s-qbjs pre { padding: 0 8px; }/*editable code holder*/

.cm-s-qbjs.CodeMirror span.CodeMirror-matchingbracket { color: #7EFC7E; }/*65FC65*/

.cm-s-qbjs .CodeMirror-gutters { background: rgb(0, 49, 78); border-right:1px solid #aaa; }
.cm-s-qbjs .CodeMirror-guttermarker { color: #599eff; }
.cm-s-qbjs .CodeMirror-guttermarker-subtle { color: #777; }
.cm-s-qbjs .CodeMirror-linenumber { color: rgb(175, 175, 175); }

.cm-s-qbjs span.cm-header { color: #a0a; }
.cm-s-qbjs span.cm-quote { color: #090; }
.cm-s-qbjs span.cm-keyword { color: rgb(69, 118, 147); }
.cm-s-qbjs span.cm-atom { color: #C2B470; }
.cm-s-qbjs span.cm-number { color: rgb(216, 98, 78); }
.cm-s-qbjs span.cm-def { color: white; }
.cm-s-qbjs span.cm-variable { color:rgb(216, 216, 216); }
.cm-s-qbjs span.cm-variable-2 { color: #669199; }
.cm-s-qbjs span.cm-variable-3, .cm-s-qbjs span.cm-type { color: white; }
.cm-s-qbjs span.cm-property { color: #92A75C; }
.cm-s-qbjs span.cm-operator { color: #92A75C; }
.cm-s-qbjs span.cm-comment { color: rgb(98, 98, 98); }
.cm-s-qbjs span.cm-string { color: rgb(255, 167, 0); }
.cm-s-qbjs span.cm-string-2 { color: #f50; }
.cm-s-qbjs span.cm-meta { color: #738C73; }
.cm-s-qbjs span.cm-qualifier { color: #555; }
.cm-s-qbjs span.cm-builtin { color: rgb(69, 118, 147); }
.cm-s-qbjs span.cm-bracket { color: #EBEFE7; }
.cm-s-qbjs span.cm-tag { color: #669199; }
.cm-s-qbjs span.cm-attribute { color: #81a4d5; }
.cm-s-qbjs span.cm-hr { color: #999; }
.cm-s-qbjs span.cm-link { color: #7070E6; }
/*.cm-s-qbjs span.cm-error { color: #9d1e15; }*/
.cm-s-qbjs span.cm-error { color: #999; }

.cm-s-qbjs .CodeMirror-activeline-background { background: rgb(0, 49, 78); }
.cm-s-qbjs .CodeMirror-matchingbracket { outline:1px solid grey; color:white !important; }

.cm-s-qbjs .CodeMirror-search-field { font-family: dosvga; font-size: 1em; }
.cm-s-qbjs .cm-searching { color: #333 !important; background-color: #ccc; }

body { letter-spacing: -1px; }
#gx-container { letter-spacing: normal; }

#help-nav a:hover { color: #fff;  }
#help-nav a:before { content: "< "; }
#help-nav a:after { content: " >"; }
#help-nav a { margin-right: 0px; }
